service: culixur-api

provider:
    name: aws
    region: eu-west-1
    runtime: provided.al2
    environment:
        APP_ENV: production
        APP_DEBUG: false
        QUEUE_CONNECTION: sqs

plugins:
    - ./vendor/bref/bref

functions:
    web:
        handler: public/index.php
        description: 'Culixur Laravel API'
        timeout: 28
        layers:
            - ${bref:layer.php-82-fpm}
        events:
            - httpApi: '*'
    
    artisan:
        handler: artisan
        description: 'Artisan Console'
        timeout: 720
        layers:
            - ${bref:layer.php-82}
            - ${bref:layer.console}

    queue:
        handler: worker.php
        description: 'Queue Worker for Notifications'
        timeout: 60
        layers:
            - ${bref:layer.php-82}
        events:
            - sqs:
                arn: !GetAtt NotificationQueue.Arn
                batchSize: 1

resources:
    Resources:
        NotificationQueue:
            Type: AWS::SQS::Queue
            Properties:
                QueueName: culixur-notifications
                VisibilityTimeout: 120

package:
    patterns:
        - '!node_modules/**'
        - '!frontend/**'
        - '!tests/**'
        - '!storage/**'
